$textLight: #fff;
$textMed: #53627c;
$textDark: #1e2432;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Roboto Serif", sans-serif;
}

body {
  color: $textDark;
  padding: 70px;
}

ul {
  list-style-type: none;
}

.top-banner {
  color: $textLight;

  .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
  }

  form {
    position: relative;
    display: flex;
    align-items: center;
  }

  input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border: none;
    border-bottom: 1px solid;
    background: none;
    outline: none;
    color: inherit;
  }
  ::placeholder {
    color: currentColor;
  }

  button {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
  }

  .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
  }
}

.ajax-section {
  margin: 70px 0 20px;

  .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: $textLight;
    color: $textMed;

    sup {
      font-size: 0.5em;
    }
  }

  figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: $textDark;
  }

  .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
}
